

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-section{
  background: url('../img/hero.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
