
body{
    padding-top: 0;
}

body .about-page{
    background-color: #575757;
}

.about-page header {
    background: url(../img/about-bg.jpg) center no-repeat;
    height: 899px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.about-page .hero-text{
    position: initial;
    transform: initial;
}

.about-page .hero-text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: .7em;
}

.about-page .hero-text h1 span{
    color: var(--brand-color);
    font-weight: 100;
}

.about-page .hero-text p{
    color: #cacaca;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6em;
    margin-left: 0;
    margin-right: 0;
}


#locationselector{
    -webkit-appearance: none;
    padding: 1em 4em;
    background-color: transparent;
    border: 1px solid var(--brand-color);
    border-radius: 0;
    color: #fff;
    margin: 1em 0;
    position: relative;
    background: url(../img/angle-down.png) center no-repeat;
    background-position: center right;
    text-transform: uppercase;

}

.about-page .team-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0;
    grid-gap: 5px;
}

.about-page .team-list li{
    list-style: none;
}

.about-page .team-list figure img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}


.about-page .team-list figure figcaption{
    background-color: #343434;
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
    height: 140px;
    overflow: hidden;
}

.about-page .team-list figure figcaption h3{
    text-transform: uppercase;
    font-size: 1.2em;
}

.about-page .team-list figure figcaption p{
    opacity: .6;
}


.about-page .org-chart .title{
    margin-top: 1em;
}

.about-page .team-block{
    margin-top: 2em;
}

.about-page .timeline-section{
    padding: 4em 0;
}

.about-page .timeline-section .title-block{
    text-align: left;
    max-width: 670px;
    margin: 0 auto;
}

.about-page .timeline-section .title-block .title{
    margin-bottom: 0;
}

.about-page .timeline-section .title-block p{
    color: #cac9c9;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
}

.about-page .timeline-section .title span{
    color: #cac9c9;
    font-weight: 600;
}

.about-page .timeline-section .title span:nth-of-type(2){
    font-weight: 100;
    color: var(--brand-color);
}



@media screen and (max-width: 1024px) {
    .about-page .team-list {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 768px) {
    .about-page .team-list{
        display: block;
    }

    .about-page .timeline-section .title-block .title {
        margin: 0;
        font-size: 2.3em;
    }

    .about-page .org-chart .title {
        margin: 0;
        font-size: 2.1em;
    }

    .about-page header {
        height: 100%;
        /* background-size: cover; */
        display: flex;
        /* justify-content: flex-end; */
        /* align-items: flex-end; */
        flex-direction: column;
        padding: 20em 0 2em 0;
        background-position: top;
    }

    .about-page .team-list figure figcaption{
        padding: 1em;
    }

    #locationselector{
        width: 100%;
        padding: 1em 7em;
    }

    /*Mobile Timeline*/

    .mobile-timeline{
        position: relative;
    }

    .mobile-timeline .tab-content{
        text-align: center;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em 0;
    }

    .mobile-timeline .nav-tabs{
        margin-top: 4em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-timeline .nav-tabs li a {
        text-transform: uppercase;
    }

    .mobile-timeline .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        border: none;
        border-bottom: 2px solid var(--yellow-color);
        color: var(--yellow-color);
    }

    .mobile-timeline .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        border: none;
        border-bottom: 2px solid #2b84ee;
    }


    .mobile-timeline .nav-tabs .nav-link:hover{
        border: none;
        border-bottom: 2px solid #2b84ee;
    }

   .mobile-timeline .nav-tabs{
        border: none;
        justify-content: center;
        align-items: center;
    }

    .mobile-timeline .nav-item .nav-link {
        border: none;
        border-bottom: 2px solid #e9e9ea;
        border-radius: 0;
    }

    .mobile-timeline .nav-item .nav-link{
        border-bottom: 1px solid #e9e9ea;
    }



   .mobile-timeline .nav-tabs li:hover  li a:before {
        content: '';
        border-bottom: 3px solid var(--yellow-color);
        position: absolute;
        bottom: -3px;
        left: 0;
        z-index: 1;
        height: 2px;
        background-color: #000;
        width: 100%;
    }


   .mobile-timeline  .nav-tabs{
       justify-content: center;
       border: none;
       white-space: nowrap;
       overflow: auto;
       display: block;
       /* position: fixed; */
       background-color: #ffffff;
       bottom: 0;
       width: 100%;
       left: 0;
       right: 0;
   }

   .mobile-timeline .nav-tabs .nav-item {
       display: inline-block;
       line-height: 2em;
   }


    .mobile-timeline .nav-tabs:hover  li:not(:hover) {
        text-decoration: none;
        /*opacity: .3;*/
        transition: all .5s ease-in-out;
    }

    .mobile-timeline h2{
        font-size: 2em;
        text-align: left;
        color: #fff;
    }

    .mobile-timeline h2 span:nth-of-type(2){
        color: var(--brand-color);
        font-weight: 600;
    }

    .mobile-timeline h2 span:nth-of-type(3){
        color: var(--brand-color);
        font-weight: 100;

    }

    .mobile-timeline h2 span:nth-of-type(4){
        color: var(--brand-color);
        font-weight: 100;

    }

    .mobile-timeline p{
        text-align: left;
        color: #fff;
    }



    }


@media screen and (max-width: 320px) {
    .about-page .org-chart .title {
        margin: 0;
        font-size: 1.7em;
    }

    .about-page header {
        padding: 10em 0 0 0;
    }

    .about-page .timeline-section .title-block .title {
        margin: 0;
        font-size: 1.7em;
    }

    #locationselector {
        padding: 1em 5em;

    }

}